div {
    width: 100px;
    height: 100px;
    background-color: black;
}

section {
    display: flex;
    justify-content: space-between;
}

















































@media(min-width: 375px),
(min-height: 667px) {
    div {
        background-color: aqua;
    }
}


@media(min-width: 1440px),
(min-height: 900px) {
    div {
        background-color: black;
    }
}